*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}


nav img{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 17px;
    left: 12%;
    border-radius: 4rem;
}
nav ul{
    display: grid;
    margin: 0;
    display: block;
    text-align: center;
    line-height: 3em;
    list-style: none;
    background-color: black;

}

nav ul li a{
    position: relative;
    color: #fff;
    font-size: 1.3em;
    padding: 1em 1em;
    text-transform: capitalize;

}
nav ul li a:hover{
    color: blue;
}

.home{
    height: 100;
    width: 100%;
    background-image: url("/images/cpr5.gif");
    background-size: 500px;
    background-size: cover;
    background-position: center;
    
}


.home-div{
    height: 350px;
    max-width: 450px;
    position: relative;
    left:20%;
    margin-top: 15%;
    background-repeat: no-repeat;

}
 h1{
     color: #fff;
     font-size: 50px;
     
 }
 h3{
     color: #fff;
     font-size:  30px; 
     padding-top: 30px;
    
 } 
 
.ABOUT{

    background-color: rgb(168, 161, 161);
    height: 90%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;

}
.container{
    
    width: 100%;
    min-height: 70vh;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}
.container h2{
    font-family: cursive;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    letter-spacing: 1.5px;
    padding: 50px 0px;
}
.content{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    margin: 30px auto;

}
.content .article{
    box-shadow: 0px 0px 3px 0px rgb(116, 113, 113);
    background-color: #FFFDFA;
    padding: 25px 25px;
}
.content .article h3{
    color: chocolate;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;

}

.content .article p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 45px;

}
.content .article a{
    font-size: 15px;
    display: inline;
    padding: 12px 35px;
    background-color: black;
    border-radius: 25px;
    color: #fff;
    border:1px solid #FFFDFA;
    letter-spacing: 1.5px;
    margin-top: 35px;

}
.content .article a:hover{
    background-color: tomato;
    
}
.img-sec{
    width: 100%;
    margin: auto;
}
.img-sec img{
    width: 100%;
    height: auto;
}
.skill-content{

    
    background-color: rgb(168, 161, 161);
    height: 90%;
    width: 100%;
    background-size: cover;
    background-position: center;

}
.art-skill{
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    margin: 30px auto;
}
aside{
    
    width: 40%;
    max-width: 170px;
    background-color: rgb(226, 220, 211);
    padding: 10px;
    border-radius: 20%;
    float: right;
    margin-top:10px;
    margin-left: 30%;

}
aside h2{
    font-size: 25px;
    font-style: italic;
}
aside ol{
    padding: 20px;
}
aside ol li{
    padding:10px ;
    font-style: oblique;
    
}
.skill-article h2{
    padding: 15px;
    margin-left: 50%;
}

.skill-article p{
    
    font-size: 18px;
    padding: 25px 50px solid black;
    margin-right: 20px;
    margin-left: 25%;
    letter-spacing: 1.5px;
    
    
    

}

.table-skill{
    width: 90%;
    height: 600px;
    display: grid;
    margin-left: 10%;
    margin-top: 0%;
    padding-top: 10px;
    overflow: auto;
}

table{
    border-collapse: collapse;
}

th{
    top: 5px;
    background-color: rgb(221, 212, 212);
    color: #040720;
    font-weight: 500px;
    font-style: italic;
}
td:hover{
    background-color: rgb(216, 223, 228);
}

th, td{
    border: 1px solid #252324;
    padding: 25px 60px;
    font-size: 20px;
    margin-top: 5px;
    
}
tr:nth-child(even){
    background-color:#FFFDFA;
}





.certificate{
    background-color: rgb(168, 161, 161);
    width: 100%;
    height: 100%;
}

.title-certificate{
    text-align: center;
    margin-top: 60px;
}
.title-certificate h2{
    font-size: 40px;
    text-transform: capitalize;
    margin: 20px 20px;
    
    
}
.title-certificate  p{
    font-size: 25px;
    text-transform: capitalize;
    color: rgb(39, 39, 44);
    
}

.card-div{
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}
.card-div .card{
    width: 90%;
    height: 40vh;
    background-image: url("/images/cpr2.gif");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    margin-left: 20px;

}
.image-sec img{
    height: 250px;
    width: 350px;
    
}
.card .div-content{
    width: 100%;
    text-align: center;

}
.card .div-content h1{
    font-size: 35px;
    margin-top: 10px;
}


.ambition{

    background-color: rgb(168, 161, 161);
    height: 90%;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}
.amb-div{
    width: 100%;
    min-height:80vh;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}
.amb-div h2{
    font-family: cursive;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    letter-spacing: 1.5px;
    padding: 50px 0px;
}
.div-amb{
    
    width: 85%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    margin: 30px auto;
    

}
.article{
    box-shadow: 0px 0px 3px 0px rgb(116, 113, 113);
    background-color: #FFFDFA;
    padding: 25px 25px;
    
    
}
.article h3{
    color: chocolate;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;

}

.amb-text .article p{
    
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 45px;

}

.image{
    
    width: 100%;
    margin: auto;
}
.image img{
    float: left;
    width: 200px;
    height: 100px;
    height: auto;
    padding: 20px;
}

.contact{
    
    height: 100%;
    width: 100%;
    background-color: rgb(168, 161, 161);
    background-size: cover;
    background-position: center;
}

.contact-me{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3em;
    width: 90%;
    height: 100%;
    margin-top: 10px;
    margin: 0 auto;
    
}
.div-amb .amb-aside{
    font-style: italic;
    color: black;
    background-color: aliceblue;
    font-weight: bold;
}
.contact-me h2{
    font-size: 26px;
    padding-top: 15%;
}
.contact-me ul li{
    list-style: none;
    margin: 12px 12px 24px 12px;
}
.contact-me ul li a{
    list-style: none;
    color: black;
}
.contact-me ul li a:hover{
    color: rgb(61, 7, 7);

}
.contact-me ul {

    padding: 0;
}
label{
    display: block;
    font-size: 18px;
    padding: 0px 0px 15px 0px;

}
input{
    display: block;
    height: 34px;
    margin: 0;
    padding: 0px 10px;
    font-size: 18px;

}
input, textarea{
    width: 400px;
}
.telephon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.button {
    height: 40px;
    width: 80px;
    background-color: black;
    color: #FFFDFA;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    margin: 8px 8px 8px 0px;

    
}
.button:hover{
    color: tomato;
}






.footer{
    width: 100%;
    height: 13vh;
    display: flex;
    flex-wrap: row wrap;
    padding: 15px;
    background-color: #040720;

}
.footer > *{
    flex: 1 100%;

}
.footer.icon  {
    text-align: center;
    display: block;
    height: 10px;
    margin-right: 30px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    color: black;
    display: inline-block;

    
}

.icon a:hover{
    color: tomato;
}

.twit1{
   height: 50px;
   border-radius: 30px;
}
.twit2{
   height: 50px;

   border-radius: 50%;
}
.twit3{
   height: 50px;
   border-radius: 70%;
}
.footer .footer-bot{
        background-color: black;
        color: white;
        text-align: center;
        position: relative;
        bottom: 10px;
        right: 20px;
        padding-top: 5px;
}






@media screen and (min-width: 990px) {
    nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 5em;
        
    }
    .content{
        grid-template-columns: repeat(2, 1fr);
    }
    .div-amb{
        grid-template-columns: repeat(2, 1fr);

    }

    .card-div{
        grid-template-columns: repeat(3, 1fr);
        height: 50vh;
        
    }

    .contact-me{
        
        grid-template-columns: repeat(2, 1fr);
        height: 80vh;
        
    }
    .art-skill{
        
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
        
        }

    

}
    



